/*Home.tsx CSS*/
.Hero {
  width: 100vw;
  display: flex;
}

.herodisplay {
  position: relative;
  margin: 10vh 0vw 0vh 10vw;
  width: 40vw;
}

.herodisplay h1 {
  display: flex;
  flex-direction: column;
  font-size: 3rem;
  text-align: left;
}

.herodisplay p {
  display: flex;
  flex-direction: column;

  margin-top: 2rem;
  font-size: 18px;
  text-align: left;
}

.herodisplay button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  margin-top: 4rem;

  padding: 3px 28px;

  width: 146px;
  height: 46px;

  background: #3bacb6;
  border-radius: 11px;
  border: none;
  font-style: Italic;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  align-items: center;
  text-align: center;

  color: #ffffff;
}

.herodisplay Button:hover {
  background: #22b8c6;
}

.ManImage {
  position: relative;
  margin-left: -35vw;
}

.button {
  cursor: pointer;
  width: 150px;
  height: 40px;
  font-weight: 500;
  padding: 11px 28px;
  border-radius: 12px;
  font-size: 16px;
  border: none;
  color: #fff;
  background: #3bacb6;
  transition: all 0.25s ease;
}
