.mainLayout{
    position:relative;
    margin-left: 300px;
    width: 100%;
    height: 100%;
    background-color: #F8F9FD;
    flex-direction: column;
    display:flex;

}
.firstText{
    padding-left: 5%;

}
.title{
    font-weight: bold;
    margin-left: 30%;
    display: flex;
    font-size: 40px;
    margin-top: 5%;
    text-align: center;
   color:#3BACB6;
}
.parent{
    text-align: center;
}
.stepNormal{

    width: 495px;
    height: 56px;
    border-radius: 4px;
    background-color:#ffffff;
    display: inline-block;
    margin: 10px;
    border: 1px solid #D2D6DC;
    box-shadow: 0px 1px 2px rgba(55, 65, 81, 0.08);
    text-align: left;

}
.stepNormal text{
    padding-left: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;

}
.stepActive{

    width: 495px;
    height: 56px;
    border-radius: 12px;
    background-color:#F5FBFF;
    display: inline-block;
    margin: 10px;
    border: 1px solid #7DABF8;
    box-shadow: 0px 1px 2px rgba(55, 65, 81, 0.08);
    border-radius: 4px; 
    text-align: left;
    
}
.stepActive text{
    color: #3D4EAC;
    padding-left: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
}
.text{
    font-size: 20px;
    margin-left: 20%;
    justify-content: center;
    align-items: center;
    color: #898989 ;
}
.backButton{
    position: relative;
    width: 102px;
    height: 52px;
    left: 57px;
    top: 40px;
    border: 0px;
    color:#EDEFF2;
    background-color:#3BACB6;
    border-radius: 10px;

}
.nextButton{
    position: relative;
    width: 102px;
    height: 52px;
    left: 1000px;
    margin-top: 200px;
    border: 0px;
    color:#EDEFF2;
    background-color:#3BACB6;
    border-radius: 10px;

}
.questionLabel{
    padding-left: 57px;
    flex-direction: column;
    padding-top: 35px;
    color: #3BACB6;


}
.questionBox1{
   
    width: 106px;
    height: 48px;
    background: #EDEFF2;
    margin-left: 150px;
}
.questionBox2{
    width: 106px;
    height: 48px;
    background: #EDEFF2;
    margin-left: 50px;
   
}
.questionBox3{
    
    width: 106px;
    height: 48px;
    background: #EDEFF2;
    margin-left: 35px;
}
