/*Feature css*/
.featureBackground{
    width: 100vw;
    height: 90vh;
    position: relative;
    background: #3BACB6;
}

.featureBlock{
    display: inline-flex;
    margin-top:20vw;
    margin-left: 7vw;
}

.featureTitle h1{
    width: 40vw;
    height: 112px;
    position: absolute;

    top: 100px;

    margin-left: 30vw;
    margin-top: 0;
    font-family: 'Roboto';
    font-style: bold;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    text-align: center;

    color: #FFFFFF;
}
.feature{
    display:grid;
    grid-gap:10px;
    list-style: none;
    align-items:left;
}
.text h1{
    position: relative;
    font-family: 'Roboto';
    font-style: Bold;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: left;

    color: #FAFAFA;
}

.text p{

    position: relative;

    text-decoration: none;
    color: #FAFAFA;
    font-family:"Roboto";
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    
    margin: 2rem 0rem;
    text-align: left;
}
.feature img{
    margin:2rem 0rem;
    display: flex;

}
.text{
    width: 70%;
}
