.profileContainer {
  background-color: #fff;
  height: 100vh;
  left: 264px;
  width: calc(100vw - 264px);
  position: relative;
  display: flex;
}

.info {
  margin-top: 10px;
  margin-left: 24px;
}

.infoHeader {
  position: relative;
  font-weight: 800;
  font-family: "Roboto";
  font-size: 28px;
  color: #2f8f9d;
}

.studentPhoto {
  position: inherit;
}

.personalnfo {
  margin-left: 30px;
  margin-top: 30px;
}

.boldText {
  display: flex;
  font-weight: 800;
  font-family: "Roboto";
  font-size: 20px;
  color: black;
}

.text {
  margin-left: 10px;
  display: flex;
  font-weight: 300;
  font-family: "Roboto";
  font-size: 20px;
  color: black;
}

.inLine {
  margin-top: 20px;
  display: flex;
  height: 30px;
}

.editBtn {
  margin-top: 20px;
  margin-left: 50px;
  cursor: pointer;
  width: 150px;
  height: 40px;
  font-weight: 500;
  padding: 11px 28px;
  border-radius: 12px;
  font-family: "Roboto";
  font-size: 16px;
  border: none;
  color: #fff;
  background: #3bacb6;
  transition: all 0.25s ease;
}

.input {
  width: fit-content;
  margin-left: 10px;
  font-weight: 300;
  font-family: "Roboto";
  font-size: 20px;
  color: black;
}

.contactlnfo {
  position: absolute;
  left: 700px;
  margin-top: 10px;
}

.biography {
  position: absolute;
  left: 20px;
  top: 380px;
}
