.infoHeader {
  position: relative;
  top: 40px;
  font-weight: 800;
  width: auto;

  font-size: 30px;
  color: #2f8f9d;
  left: 60px;
}

.studentPhoto {
  position: relative;
  margin-right: 60px;
}

.personalInfoContainer {
  position: relative;
  display: flex;
  margin-bottom: 100px;
  top: 70px;
  left: 60px;
}

.personalnfo {
  position: relative;
  display: flex;
}

.contactInfo {
  top: 60px;
  left: 50px;
}

.rowContainer {
  display: flex;
  margin-bottom: 25px;
}

.boldText {
  font-weight: 800;
  font-size: 20px;
  color: black;
}

.text {
  position: relative;
  font-weight: 300;
  font-size: 20px;
  color: black;
  margin-left: 5px;
}

.headerBottom {
  font-weight: 800;
  font-size: 30px;
  color: #2f8f9d;
  margin-left: 60px;
}

.bioContent {
  position: relative;
  left: 60px;
  margin-top: 5px;
  font-weight: 300;
  font-size: 20px;
  color: black;
}
