/*Contact css*/
.Contactcontainer{
    margin: 2rem 20rem;
}
.Contactcontainer h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 55px;
    text-align: center;
}
.Contactcontainer h3{
    margin: 2rem;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 40px;
    text-align: center;
    color: #374754;
}
.Contactcontainer form{
    padding-top: 2rem;
    display:flex;
    flex-direction: column;

    width:50%;
    height: 600px;

    margin:auto;
    margin-bottom: 10rem; 
    border-radius: 10px;
    border: 1px solid #DDDDDD;
    /* SHADOW */
    shadow: 0px 13px 19px;
    align-items: center;

}
.Contactcontainer input{
    display: flex;
    flex-direction:column;
    padding: 19px 20px;
    gap: 47px;

    width: 90%;
    height: 54px;

    background: #F5F5F5;
    border: 1px solid #E8E8E8;
    border-radius: 39px;
    
    margin-left: auto;
    margin: 1rem;

}
.Contactcontainer textarea{
    display: flex;
    padding: 19px 20px;
    gap: 47px;

    width: 90%;
    height: 200px;
    background: #F5F5F5;
    border: 1px solid #E8E8E8;
    
    margin-left: auto;
    margin: 1rem;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    text-color: #18171D;

}
.Contactcontainer button {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 2rem;
    margin-bottom: 1rem;
    padding: 3px 28px;
    position: relative;

    width: 146px;
    height: 46px;

    background: #3BACB6;
    border-radius: 35px;
    border: none;

    font-family: 'Roboto';
    font-weight: 600;
    font-style: Bold;
    font-size: 18px;
    line-height: 21px;
    text-align: center;

    color: #FFFFFF;

}
.Contactcontainer Button:hover{
    background: #22b8c6;
}
@media screen and(max-width: 850px){
    .form-container{
        margin:4rem 2rem;
    }
    .form-container form{
        padding-top:2rem;
        width:90%;
    }
    .form-container input{
        width:90%;
    }
    .form-container h3{
        font-size:15px;
    }
}