.LandingPage{
    background-color:#FFFFFF;
}
.NavBarItems {
    width: 100vw;
    background-color: #FFFFFF;
    height: 77px;
    align-items: center;
    display: flex;
    padding: 0 30px;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,.1); 
    border-radius: 13px;
}
.NavBarText {
    left: 122px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
    color: #3BACB6;
}
.NavBarItems button{
    justify-content: center;
    align-items: center;
    padding: 18px 32px;
    margin-left: 65vw;
    width: 146px;
    height: 49px;

    background: #3BACB6;

    border-radius: 11px;
    border: none;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;

 
}
.NavBarItems button:hover{
    background: #22b8c6;
}
