.title {
  font-weight: bold;
  display: flex;
  font-size: 55px;
  margin-top: 30px;
  color: #3bacb6;
  justify-content: center;
}
.appContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
}

.appContainer table {
  width: 100%;
  background-color: #8c8c8c;
}

.appContainer td {
  height: 63px;
  width: 20%;
  text-align: center;
  padding: 8px;
  font-size: 16px;
  background-color: white;
}

.appContainer th {
  background-color: white;
}
.background {
  background-color: #fff;

  height: 63px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.blockButton {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 136px;
  height: 34px;
  border-radius: 5px;
}

.text {
  font-weight: bold;
}
.addButton {
  margin-left: 25px;
}
.generateButton {
  color: #fff;
  width: 150px;
  height: 48px;
  font-size: 16px;
  font-weight: 600;
  background: #3bacb6;
  border: none;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
}

.editButton {
  background: transparent;
  border: none;
  cursor: pointer;
}

.backheading {
  display: flex;
  align-items: center;
}

.backButton {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
  border: none;
  color: #3bacb6;
  background-color: transparent;
  font-weight: 700;
}

.datePicker {
  text-align: center;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 600;
  color: #dfe1e6;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
}

.submitButton {
  color: #fff;
  width: 150px;
  height: 48px;
  font-size: 16px;
  font-weight: 600;
  background: #3bacb6;
  border: none;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
}
