.container {
  position: relative;
  border-radius: 12px;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  background: #b3e8e5;
  border: 3px solid #3bacb6;
}

.header {
  display: grid;
  grid-template-columns: [line1] 27% [line2] 0.3% [line3] 34% [line4] 0% [line5] 32% [line6] 0%;
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  border-radius: 12px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  height: 25%;
  background: #3bacb6;
  color: #fff;
  font-weight: 500;

  font-size: 20px;
  border: 3px solid #3bacb6;
}

.centerItems {
  place-self: center;
}

.inputField {
  width: 40px;
  border-radius: 12px;
  border: none;

  text-align: right;
}

.deptContainer {
  margin-left: -15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blockContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.btnContainer {
  flex-grow: 1;
  height: 100%;
  position: relative;
  border-right: 3px solid #3bacb6;
}

.btnContainer1 {
  height: 100%;
  position: relative;
}

.btnContainer2 {
  height: 100%;
  position: relative;
}

.selectionContainer {
  position: absolute;
  padding-top: 125px;
  height: 100%;
  width: 100%;
  left: -2px;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: column dense;
  justify-content: center;
}

.selectionContainer1 {
  position: relative;
  height: 100%;
  width: 101%;
  left: -2px;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: column dense;
  justify-content: center;
}

.selectionContainer2 {
  position: relative;
  height: 100%;
  width: 101%;
  left: -2px;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: column dense;
  justify-content: center;
}

.btnContainer:last-of-type {
  border-right: none;
}

.wrapper {
  display: grid;
  height: 100%;
  margin-top: 2.6px;
}

.wrapper .addBtn {
  position: relative;
  align-self: center;
  margin-top: 14%;
  left: 25%;
  width: 50%;
  height: 50%;
  background: #3bacb6;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  border: none;
  border-radius: 12px;
  transition: all 0.25s ease;
  cursor: pointer;
}

.addBtn {
  position: relative;
  align-self: center;
  margin-top: 85%;
  left: 25%;
  width: 50%;
  height: 10%;
  background: #3bacb6;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  border: none;
  border-radius: 12px;
  transition: all 0.25s ease;
  cursor: pointer;
}

.addBtn1 {
  position: absolute;
  align-self: center;
  margin-top: 7%;
  left: 25%;
  width: 50%;
  height: 70%;
  background: #3bacb6;
  color: #fff;
  font-size: 10px;
  font-weight: 500;
  border: none;
  border-radius: 12px;
  transition: all 0.25s ease;
  cursor: pointer;
}

.addBtn:hover {
  box-shadow: 0 10px 20px -10px rgba(59, 172, 182, 0.6);
  transform: translateY(-5px);
  background: rgb(59, 172, 182);
}

.addBtn1:hover {
  box-shadow: 0 10px 20px -10px rgba(59, 172, 182, 0.6);
  transform: translateY(-5px);
  background: rgb(59, 172, 182);
}

.totalBox {
  position: absolute;
  bottom: 2.65%;
  right: 7.5%;
  width: 50px;
  height: 50px;
  background: #fff;
  color: #2c3e50;

  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.editBtn {
  position: absolute;
  align-self: center;
  background: #b3e8e5;
  border: none;
  border-radius: 1px;
  transition: all 0.25s ease;
  cursor: pointer;
}
