.selectionBtn {
  border-radius: 10px;
  background-color: #3bacb6;
  width: calc(100% - 25px);
  height: 44px;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
}
