.container {
  position: relative;
  border-radius: 12px;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  background: #b3e8e5;
  border: 3px solid #3bacb6;
  margin-left: 20px;
  margin-right: 20px;
}

.header {
  display: grid;
  grid-template-columns: [line1] 10% [line2] 10% [line3] 10% [line4] 10% [line5] 10% [line6] 10% [line7] 10% [line8] 10%[line9] 10% [line10] 10%;
  border-radius: 12px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  height: 25%;
  margin-left: -3px;
  margin-top: -4px;
  margin-right: -3px;
  background: #3bacb6;
  color: #fff;
  font-weight: 500;

  font-size: 20px;
  border: 3px solid #3bacb6;
}

.text {
  margin-left: 20px;
  width: 90px;
}

.mainContentContainer {
  margin-top: 20px;
  height: 450px;
  overflow: auto;
}

.blockContainer {
  grid-template-columns: [line1] 10% [line2] 10% [line3] 10% [line4] 10% [line5] 10% [line6] 10% [line7] 10% [line8] 10%[line9] 10% [line10] 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.selectionBtn {
  border-radius: 10px;
  background-color: #3bacb6;
  width: 300px;
  height: 50px;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: 500;

  margin-right: 8px;
}

.line {
  flex-grow: 1;
  border-left: 3px solid #3bacb6;
  position: relative;
  height: 183px;
  z-index: 1;
}

.line2 {
  flex-grow: 1;
  border-bottom: 3px solid #3bacb6;
  margin-top: -63px;
  position: absolute;
  width: 100%;
  z-index: 1;
}
.line3 {
  flex-grow: 1;
  border-bottom: 3px solid #3bacb6;
  margin-top: 62px;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.centerItems {
  place-self: center;
}

.darkBG {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
  margin: 0px;
  z-index: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  position: fixed;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal {
  width: 1000px;
  height: 650px;
  left: 300px;
  top: 247px;
  background: white;
  color: white;
  z-index: 10;
  border-radius: 16px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
}

.selectionContainer1 {
  top: 33px;
  position: absolute;
  padding-bottom: 10px;
  height: 22%;
  width: 100%;
  display: grid;
  grid-auto-flow: column dense;
  z-index: 3;
}

.selectionContainer2 {
  position: absolute;
  top: 92px;
  height: 22%;
  width: 100%;
  display: grid;
  grid-auto-flow: column dense;

  z-index: 3;
}

.selectionContainer3 {
  bottom: 5px;
  position: absolute;
  padding-bottom: 10px;
  height: 22%;
  width: 100%;
  display: grid;
  grid-auto-flow: column dense;

  z-index: 3;
}

.deptContainer {
  margin-left: -15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalHeader {
  height: 60px;
  background: white;
  overflow: hidden;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  margin: 0;
  padding-top: 30px;
  color: #2c3e50;

  font-weight: 500;
  font-size: 24px;
  text-align: center;
}

.previewContainer + .previewContainer {
  margin-top: 30px;
}

.modalContainer {
  padding: 20px 40px;
  height: 82.5%;
}

.actionsContainer {
  padding: 0px 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.closeBtn {
  cursor: pointer;
  width: 150px;
  height: 40px;
  font-weight: 500;
  padding: 11px 28px;
  border-radius: 12px;
  font-size: 16px;

  border: none;
  color: #fff;
  background: #ff3e4e;
  transition: all 0.25s ease;
}

.closeBtn:hover {
  box-shadow: 0 10px 20px -10px rgba(255, 62, 78, 0.6);
  transform: translateY(-5px);
  background: #ff3e4e;
}

.previewBtn {
  cursor: pointer;
  width: 150px;
  height: 40px;
  font-weight: 500;
  padding: 11px 28px;
  border-radius: 12px;

  font-size: 16px;
  border: none;
  color: #fff;
  background: #3bacb6;
  transition: all 0.25s ease;
}

.previewBtn:hover {
  box-shadow: 0 10px 20px -10px rgba(59, 172, 182, 0.6);
  transform: translateY(-5px);
  background: rgb(59, 172, 182);
}

.previewContainer {
  margin-top: 30px;
  color: black;
  display: flex;
  align-items: center;
}
