.navbarContainer {
  display: flex;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  align-items: center;
  height: 70px;
  background: transparent;
  border-bottom: 1px solid #dfe1e6;
}

.title {
  color: #3bacb6;
  font-weight: 700;
  font-size: 20px;
  margin-left: 20px;
}

.loginBtn {
  width: 100px;
  height: 40px;
  cursor: pointer;
  margin-left: 80%;
  display: flex;
  justify-content: center;
  background: #3bacb6;
  border-radius: 6px;
  border: none;
  color: #ffffff;
  flex-direction: column;
}

.logoutBtn {
  width: 100px;
  height: 40px;
  margin-left: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  background: DFE1E6;
  border-radius: 6px;
  border: none;
  color: 778494;
  flex-direction: column;
}

.text {
  font-weight: 600;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
}

.nameArea {
  display: flex;
  margin-left: 70%;
}

.name {
  font-weight: 600;
  font-size: 17px;
  margin-top: 7px;
}
