.calendarContainer{
    background-color: #fff;
    position: relative;
    height: 100vh;
    left: 264px;
    width: calc(100vw - 264px);
    display: flex;
    justify-content: center;
}

.calendarHeader{
    position: absolute;
    top: 30px;
    font-weight: 800;
    font-family: "Roboto";
    font-size: 40px;
    color: #2f8f9d;
}

.calendarSubheader{
    position: absolute;
    top: 80px;
    font-weight: 400;
    font-family: "Roboto";
    font-size: 22px;
    color: #d9d9d9;
}

.calendar{
    position: absolute;
    top: 120px;
}
