/*Feature css*/
.container {
  background: #3bacb6;
  height: 600px;
}

.featureBlock {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0;
  gap: 50px;
}

.featureTitle {
  font-size: 50px;
  font-weight: 700;
  color: white;
  max-width: 500px;
  text-align: center;
}

.featureList {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.featureItemTitle {
  font-weight: 700;
  font-size: 24px;
  color: white;
  text-align: center;
  margin-top: 20px;
}

.featureItemDetails {
  max-width: 400px;
  text-align: center;
  color: white;
  margin-top: 20px;
}

.iconWrapper {
  width: 108px;
  height: 108px;
  background-color: #b3e8e5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.featureItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}
